[Unit]
Description=EFI System Partition

[Mount]
What=/dev/sdb1
Where=/efi
Type=vfat
Options=rw,relatime,fmask=0022,dmask=0022,codepage=437,iocharset=iso8859-1,shortname=mixed,utf8

[Install]
WantedBy=multi-user.target
